langchain==0.2.10
langchain-community
langchain-core==0.2.22
langchain-text-splitters==0.2.2
langchain_openai==0.1.16

langchainhub
langsmith
langgraph
langchain-pinecone
requests
black
openai
google-search-results
tweepy
flask
python-dotenv
pydantic
pylint

